<div class = "header">
  <h1> {{title}} </h1>
  <label> Add Todo Task: </label>
  <input type = "text" placeholder="what you want to do?" [(ngModel)]="todo" (keyup.enter)="addTodo()"> 
    <button (click) ="addTodo()"> Add </button>
    <button (click) = "updateTodo () ">update</button>
    <button (click)= "cancelTodo()">Cancel</button>
    <ul> Typing: {{ todo }}</ul>
  <h2>My Current Task </h2>
  <ul>
    <table align="center">
      <tr>
      <li *ngFor="let todo of todos; index as i"> 
        <td>
          <mat-form-field class="example-full-width"> 
          <input matInput type="text" [value]= "todo | titlecase"> 
        </mat-form-field>
        </td>
        <td><button (click)="Edit(todo, i)">Edit</button></td>
      <td><button  (click)="Delete(i)">Remove</button></td>
      </li>
    </tr>
    <div *ngIf="todos.length === 0;else elseblock"> Empty List </div>
    <ng-template #elseblock>
      <button (click)= "clearall()">Clear All</button>
    </ng-template>
    </table>
    </ul>
</div>