.header {
    text-align: center;
}
button {
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
  }
  input {
      width: 250px;
      height: 20px;
      padding: 5px;
  }
  label {
    font-size: 22px;
  }
  